page-details {
    .head{
        background: #5075af;
        border: think solid black;
        color:#ffffff;
        }
        .head1{
            background: #ccd5e5;
            border: think solid black;
            color:#2E2C2C;
            }
}
